{% load static %}

<aside class="left-sidebar scrollable ps-container ps-theme-default ps-active-y" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{% url 'dashboard' %}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                            class="hide-menu">ABL-Dashboard</span></a></li>

                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{% url 'standard' %}" aria-expanded="false"><i class="mdi mdi-transcribe"></i><span
                            class="hide-menu">standards</span></a></li>

                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{% url 'charts' %}" aria-expanded="false"><i class="mdi mdi-chart-bar"></i><span
                            class="hide-menu">Charts</span></a></li>

                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{% url 'widgets' %}" aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span
                            class="hide-menu">Widgets</span></a></li>

                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{% url 'tables' %}" aria-expanded="false"><i class="mdi mdi-border-inside"></i><span
                            class="hide-menu">Reports</span></a></li>

                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark"
                        href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span
                            class="hide-menu">Forms </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="{% url 'student' %}" class="sidebar-link"><i
                                    class="mdi mdi-account"></i><span class="hide-menu">Student-Form</span></a></li>
                        <li class="sidebar-item"><a href="{% url 'parent' %}" class="sidebar-link"><i
                                    class="mdi mdi-note-plus"></i><span class="hide-menu">Parent-Form</span></a></li>
                        <li class="sidebar-item"><a href="{% url 'teacher' %}" class="sidebar-link"><i
                                    class="mdi mdi-note-plus"></i><span class="hide-menu">Teacher-Form</span></a></li>
                        <li class="sidebar-item"><a href="{% url 'principal' %}" class="sidebar-link"><i
                                    class="mdi mdi-note-plus"></i><span class="hide-menu">Principal-Form</span></a></li>
                        <li class="sidebar-item"><a href="{% url 'school' %}" class="sidebar-link"><i
                                    class="mdi mdi-note-plus"></i><span class="hide-menu">School-Form</span></a></li>
                        <li class="sidebar-item"><a href="{% url 'contact1' %}" class="sidebar-link"><i
                                    class="mdi mdi-note-plus"></i><span class="hide-menu">Contact-Form</span></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>